#titulos {
    font-family: Lobster;
    text-align: center;
    font-size: 60px;
    color: white;
}

body {
    background: linear-gradient(120deg, #155799, #159957);
    background-repeat:no-repeat;
}

.minhasection {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}

#menu {
    width: 100%;
}

#menu ul {
    text-align: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
}



.showcase {
    display: inline-block;
    padding: 0;
    margin: 3px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
}

#imagens {
    /*padding-left: 10%;
    padding-right: 10%;*/
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#menu li{
    transition-duration: 0.4s;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    padding: 15px;
    margin: 0%;
    width: 10%;
    background-color: transparent;
}

#menu li:hover {
    background: white;
    color: #155799;
}

#menu a :visited
{
    color: white;
}

#menu a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}